<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
</head>
<body>
    
    <!-- Header / Navbar -->
    <section id="header" class="container-fluid">
        <a href="#"><img src="/img/logo.png" class="logo" alt=""></a>
        <h2>Products</h2>
    </section>

    <!-- Products Funcuality -->
    <section id="funcuality" class="section-p1">
        <button id="add-product-btn" class="normal">Add New Product</button>
        <a href="/categories"><button id="manage-categories-btn" class="normal" type="button">Manage Categories</button></a>
        <form action="/products" method="get">
            <h4>Filter Catgeory : </h4>
            <select name="category" id="select-category">
                <option value="">All Categories</option>
                <% categories.forEach(category => { %>
                    <option value="<%= category._id %>"><%= category.name %></option>
                <% }) %>
            </select>
            <button id="filter-btn" class="normal">Filter</button>
        </form>
    </section>

    <section id="category-header"> 
        <% if (selectedCategoryName !== 'All Categories') { %>
            <h2>Category : <span><%= selectedCategoryName %></span></h2>
        <% } %>
    </section>

    <section id="products-details">
        <section id="cart" class="section-p1">
            <table>
                <thead>
                    <tr>
                        <td>Edit</td>
                        <td>Image</td>
                        <td>Product Name</td>
                        <td>Category</td>
                        <td>Description</td>
                        <td>Price</td>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(product => { %>
                        <tr>
                            <td><button 
                                class="edit-product-btn normal"
                                data-product-id="<%= product._id %>"
                                data-product-name="<%= product.name %>"
                                data-product-price="<%= product.price %>"
                                data-product-category="<%= product.category._id %>">
                                <i class="bi bi-pencil-square"></i>
                            </button></td>    
                            <td><img src="img/products/f1.jpg" alt=""></td>                 
                            <td> <%= product.name %> </td>                                  
                            <td> <%= product.category.name %> </td>                         
                            <td class="desc" data-product-description> <%= product.description %> </td>
                            <td> <%= product.price %> </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
    </section>
  


    <!-- Edit Modal -->
    <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProductModalLabel">Edit Product</h5>
                    <button type="button" class="normal" data-bs-dismiss="modal"><i class="bi bi-x-circle-fill"></i></button>
                </div>
                <div class="modal-body">
                    <form id="editProductForm">
                        <div class="form-group">
                            <h4>Name</h4>
                            <input type="text" class="form-control" id="editProductName" required>
                        </div>
                        <div class="form-group">
                            <h4>Price</h4>
                            <input type="text" class="form-control" id="editProductPrice" required>
                        </div>
                        <div class="form-group">
                            <h4>Category</h4>
                            <select class="form-control" id="editProductCategory" required>
                                <% categories.forEach(category => { %>
                                    <option value="<%= category._id %>"><%= category.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group">
                            <h4>Description</h4>
                            <input type="text" class="form-control" id="editProductDesc" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveChangesButton">Save changes</button>
                    <button type="button" class="btn btn-danger" id="deleteButton">Delete Product</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Add Modal -->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
                    <button type="button" class="normal" data-bs-dismiss="modal"><i class="bi bi-x-circle-fill"></i></button>
                </div>
                <div class="modal-body">
                    <form id="addProductForm">
                        <div class="form-group">
                            <h4>Name</h4>
                            <input type="text" class="form-control" id="addProductName" required>
                        </div>
                        <div class="form-group">
                            <h4>Price</h4>
                            <input type="text" class="form-control" id="addProductPrice" required>
                        </div>
                        <div class="form-group">
                            <h4>Category</h4>
                            <select class="form-control" id="addProductCategory" required>
                                <% categories.forEach(category => { %>
                                    <option value="<%= category._id %>"><%= category.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group">
                            <h4>Description</h4>
                            <input type="text" class="form-control" id="addProductDesc" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="addButton">Add</button>
                    <button button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/script.js"></script>
    <script src="/js/editProduct.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
