<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    <h1>Products</h1>
    <form action="/products" method="get">
        <label for="category">Filter by Category:</label>
        <select name="category" id="category">
            <option value="">All Categories</option>
            <% categories.forEach(category => { %>
                <option value="<%= category._id %>"><%= category.name %></option>
            <% }) %>
        </select>
        <button type="submit">Filter</button>
        <a href="/categories" style="display: inline;">
            <button type="button">Manage Categories</button>
        </a>
    </form>
    <% if (selectedCategoryName !== 'All Categories') { %>
        <h2>Category: <%= selectedCategoryName %></h2>
    <% } %>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <%= product.name %> - <%= product.price %> - <%= product.category.name %> 
                <button class="edit-product-btn" data-product-id="<%= product._id %>" data-product-name="<%= product.name %>" data-product-price="<%= product.price %>" data-product-category="<%= product.category._id %>">Edit</button>
                <button class="delete-product-btn" data-product-id="<%= product._id %>">Delete</button>
            </li>
        <% }) %>
    </ul>
    
    <button id="add-product-btn">Add New Product</button>

    <script src="/js/addProduct.js"></script>
    <script src="/js/editProduct.js"></script>
    <script src="/js/deleteProductConfirmation.js"></script>
</body>
</html>